* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#logo {
    margin: 5px 10px;
}

#logo img {
    margin: 4px 10px;
    height: 50px;
    width: 50px;
}

#navbar ul {
    display: flex;
    font-family: 'Baloo 2', cursive;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 2px 22px;
    border-radius: 20px;
}

#navbar ul li a:hover {
    color: black;
    background-color: white
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 618px;
    padding: 3px 200px;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../img/main.jpg');
    height: 110%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#services {
    display: flex;
    margin: -10px auto;
}

.box {
    border: 2px solid red;
    margin: 12px 5px;
    padding: 40px 30px;
    border-radius: 23px;
    background-color: #f2f2f2
}

.box img {
    display: block;
    margin: auto;
    height: 160px;
}

.Client-Box{
    height: 255px;
    margin: 34px auto;
}


#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 5px;
    margin: 5px auto;
}

#clients img {
    height: 150px;

}

.content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}

.content-box input,
.content-box textarea {
    font-family: 'Bree Serif', serif;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.content-box form {
    font-family: 'Bree Serif', serif;
    width: 30%;
}

.content-box label {
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
}

footer {
    background: #05404ba4;
    color: white;
    padding: 8px 20px;
}

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    cursor: pointer;
    margin: 15px;
    font-size: 1rem;
    border-radius: 10px;
}

.center {
    text-align: center;
}